In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("CET_Database_Final2019.csv")

In [3]:
df

,CETCode,College,Location,Branch,1G,1K,1R,2AG,2AK,2AR,...,3BR,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru",CE,32617.0,0.0,33980.0,33564.0,38789.0,37186.0,...,31826.0,20856.0,24818,26485,40245,47956.0,53038.0,37947.0,0.0,0.0
2,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru",CS,7032.0,0.0,13014.0,7113.0,7383.0,9068.0,...,0.0,3392.0,3481,5739,15666,37041.0,29121.0,9692.0,0.0,0.0
3,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru",EC,11404.0,0.0,0.0,9254.0,0.0,12319.0,...,0.0,5679.0,8595,9854,16090,0.0,24851.0,8554.0,0.0,15216.0
4,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru",EE,17810.0,0.0,0.0,21729.0,25456.0,33634.0,...,20377.0,11015.0,19791,15491,28846,32980.0,37275.0,22626.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386,E511,Alva`s Institute of Engineering and Technology...,"Moodabidri, Dakshina Kannada",ME,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,97979.0,0,0,0,0.0,0.0,0.0,0.0,0.0
1387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1388,E512,MVJ College of Engineering(IInd Shift),"Kadugodi, Bengaluru",CS,61803.0,0.0,0.0,53770.0,0.0,71160.0,...,0.0,30315.0,0,54064,100887,0.0,102730.0,31700.0,0.0,0.0
1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,E513,PA College of Engineering(IInd Shift),"Mangalore, Dakshina Kannada",ME,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.isnull().sum()

CETCode     216
College     216
Location    216
Branch      215
1G          215
1K          215
1R          215
2AG         215
2AK         215
2AR         215
2BG         216
2BK         215
2BR         215
3AG         215
3AK         215
3AR         215
3BG         215
3BK         215
3BR         215
GM          215
GMK         215
GMR         215
SCG         216
SCK         215
SCR         215
STG         216
STK         215
STR         217
dtype: int64

In [6]:
df.dropna(inplace=True)
df.isnull().sum()

CETCode     0
College     0
Location    0
Branch      0
1G          0
1K          0
1R          0
2AG         0
2AK         0
2AR         0
2BG         0
2BK         0
2BR         0
3AG         0
3AK         0
3AR         0
3BG         0
3BK         0
3BR         0
GM          0
GMK         0
GMR         0
SCG         0
SCK         0
SCR         0
STG         0
STK         0
STR         0
dtype: int64

In [ ]:
fixed_columns = ['CETCode', 'College', 'Location', 'Branch']
category_columns = [col for col in df.columns if col not in fixed_columns]

# Step 2: Melt to long format
df_melted = df.melt(
    id_vars=['College', 'Location', 'Branch'],
    value_vars=category_columns,
    var_name='Category',
    value_name='Cutoff_Rank'
)

# Step 3: Convert to numeric & filter valid entries
df_melted['Cutoff_Rank'] = pd.to_numeric(df_melted['Cutoff_Rank'], errors='coerce')
df_cleaned = df_melted[df_melted['Cutoff_Rank'] > 0].reset_index(drop=True)

# Step 4: Final features and label
final_df = df_cleaned[['Category', 'Cutoff_Rank', 'Branch', 'Location', 'College']]  # College is the target
final_df

,Category,Cutoff_Rank,Branch,Location,College
0,1G,32617.0,CE,"KR Circle, Bengaluru",University Visveswariah College of Engineering
1,1G,7032.0,CS,"KR Circle, Bengaluru",University Visveswariah College of Engineering
2,1G,11404.0,EC,"KR Circle, Bengaluru",University Visveswariah College of Engineering
3,1G,17810.0,EE,"KR Circle, Bengaluru",University Visveswariah College of Engineering
4,1G,13038.0,IE,"KR Circle, Bengaluru",University Visveswariah College of Engineering

In [13]:
final_df

,Category,Cutoff_Rank,Branch,Location,College
0,1G,32617.0,CE,"KR Circle, Bengaluru",University Visveswariah College of Engineering
1,1G,7032.0,CS,"KR Circle, Bengaluru",University Visveswariah College of Engineering
2,1G,11404.0,EC,"KR Circle, Bengaluru",University Visveswariah College of Engineering
3,1G,17810.0,EE,"KR Circle, Bengaluru",University Visveswariah College of Engineering
4,1G,13038.0,IE,"KR Circle, Bengaluru",University Visveswariah College of Engineering
...,...,...,...,...,...
6016,STR,97536.0,EC,Hassan,Government Engineering College
6017,STR,105141.0,EC,"K R Pet, Mandya",Government Engineering College
6018,STR,125784.0,EC,"Devagiri,Haveri",Government Engineering College
6019,STR,44107.0,CS,Dharwad,KLE Technological University(Formerly BVBCET)
6020,STR,45265.0,CS,"Kadabeesanahalli, Bengaluru",New Horizon College of Engineering(IInd Shift)

In [15]:
final_df["Location"].value_counts()

Location
University Of Mysore Campus, Mysore    194
Kumaraswamy Layout, Bengaluru          192
Yelahanka, Bengaluru                   190
Yelahanka,Bengaluru                    174
Basavanagudi, Bengaluru                170
                                      ...
Bhootramanatti, Belgaum                  1
Kannuru,Bengaluru                        1
Sahakara Nagar, Bengaluru                1
Kyathasandra,Tumakuru                    1
Kothanur, Bengaluru                      1
Name: count, Length: 169, dtype: int64

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pickle


college_counts = final_df['College'].value_counts()
valid_colleges = college_counts[college_counts >= 2].index
final_df = final_df[final_df['College'].isin(valid_colleges)]

X = final_df[['Category', 'Cutoff_Rank', 'Branch', 'Location']]
y = final_df['College']

category_encoder = OneHotEncoder(sparse=False, drop='first')
branch_encoder = OneHotEncoder(sparse=False, drop='first')
location_encoder = OneHotEncoder(sparse=False, drop='first')
rank_scaler = StandardScaler()

X_category = category_encoder.fit_transform(X[['Category']])
X_branch = branch_encoder.fit_transform(X[['Branch']])
X_location = location_encoder.fit_transform(X[['Location']])
X_rank = rank_scaler.fit_transform(X[['Cutoff_Rank']])

X_transformed = pd.concat([
    pd.DataFrame(X_category, index=X.index),
    pd.DataFrame(X_branch, index=X.index),
    pd.DataFrame(X_location, index=X.index),
    pd.DataFrame(X_rank, index=X.index)
], axis=1)

X_train, X_test, y_train, y_test = train_test_split(
    X_transformed, y, test_size=0.2, random_state=42
)

clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

with open('kcet_trained_model.pkl', 'wb') as f:
    pickle.dump(clf, f)

print("✅ Trained model saved as 'kcet_trained_model.pkl'")



with open('kcet_encoders_scaler.pkl', 'wb') as f:
    pickle.dump({
        'category': category_encoder,
        'branch': branch_encoder,
        'location': location_encoder,
        'scaler': rank_scaler
    }, f)
print("✅ Encoder model saved as 'kcet_encoder_model.pkl'")

c:\Users\DKU182\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\DKU182\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\DKU182\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

✅ Trained model saved as 'kcet_trained_model.pkl'
✅ Encoder model saved as 'kcet_encoder_model.pkl'